/* Container Kpis */

position: relative;
width: 511px;
height: 930px;

background: #FFFFFF;


/* Group 2059 */

position: absolute;
width: 462px;
height: 876px;
left: 27px;
top: 27px;



/* Rectangle 1792 */

position: absolute;
width: 462px;
height: 876px;
left: 27px;
top: 27px;

/* Granito (Container) */
background: #242736;
border-radius: 12px;


/* Group 2066 */

position: absolute;
width: 414px;
height: 104px;
left: 51px;
top: 51px;



/* Rectangle 1778 */

position: absolute;
width: 414px;
height: 104px;
left: 51px;
top: 51px;

/* Chumbo (Sub-container)

Texto
*/
background: #2E303D;
border-radius: 12px;


/* Ellipse 1 */

position: absolute;
width: 48px;
height: 48px;
left: 75px;
top: 79px;

/* Neve */
background: #BDD6FE;


/* icon_attach_file */

position: absolute;
width: 32px;
height: 32px;
left: 83px;
top: 87px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 💼 */

position: absolute;
left: 8.33%;
right: 10.42%;
top: 0%;
bottom: 3.12%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25.3793px;
line-height: 31px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* Frame 2060 */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 197px;
height: 80px;
left: 135px;
top: 63px;



/* Nome variável */

width: 197px;
height: 26px;

/* B1. Body */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* idêntico à altura da caixa ou 162% */
display: flex;
align-items: center;

/* Branco */
color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 99,9% */

width: 197px;
height: 38px;

/* H3. Título */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 38px;
/* idêntico à altura da caixa ou 146% */
display: flex;
align-items: center;

/* Branco */
color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* FONTE: NOME FONTE 2026 */

width: 197px;
height: 16px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* idêntico à altura da caixa ou 160% */
display: flex;
align-items: center;

/* Branco */
color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Group 2079 */

position: absolute;
width: 414px;
height: 334px;
left: 51px;
top: 179px;



/* Frame 2080 */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 414px;
height: 278px;
left: 51px;
top: 235px;



/* Group 2077 */

width: 414px;
height: 258px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 2 */

position: absolute;
width: 347px;
height: 203.9px;
left: 35px;
top: 7.32px;



/* Vector 3 */

position: absolute;
width: 347px;
height: 203.9px;
left: 35px;
top: 7.32px;

transform: rotate(-180deg);


/* Frame 23 */

/* Layout automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 368px;
height: 19.42px;
left: 35px;
top: 238.58px;



/* JAN */

width: 20.61px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* FEB */

width: 19.13px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* MAR */

width: 22.08px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 2;
flex-grow: 0;


/* APR */

width: 22.08px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 3;
flex-grow: 0;


/* MAY */

width: 23.55px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 4;
flex-grow: 0;


/* JUN */

width: 20.61px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 5;
flex-grow: 0;


/* JUL */

width: 19.13px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 6;
flex-grow: 0;


/* AUG */

width: 23.55px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 7;
flex-grow: 0;


/* SEP */

width: 19.13px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 8;
flex-grow: 0;


/* OCT */

width: 22.08px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 9;
flex-grow: 0;


/* NOV */

width: 23.55px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 10;
flex-grow: 0;


/* DEC */

width: 20.61px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 11;
flex-grow: 0;


/* Group 24 */

position: absolute;
width: 28px;
height: 222.17px;
left: 0px;
top: 0px;



/* 0 */

position: absolute;
width: 7px;
height: 18.98px;
left: 0px;
top: 203.19px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 1000 */

position: absolute;
width: 26px;
height: 18.98px;
left: 0px;
top: 152.39px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 2000 */

position: absolute;
width: 28px;
height: 18.98px;
left: 0px;
top: 101.59px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 3000 */

position: absolute;
width: 28px;
height: 18.98px;
left: 0px;
top: 50.8px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 4000 */

position: absolute;
width: 28px;
height: 18.98px;
left: 0px;
top: 0px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Vector 1 */

position: absolute;
width: 379px;
height: 221.94px;
left: 35px;
top: 0.38px;

opacity: 0.5;
border: 1.06686px solid #FFFFFF;


/* Group 2078 */

width: 70px;
height: 10px;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* SC */

position: absolute;
width: 17px;
height: 10px;
left: 14px;
top: 268px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

/* Branco */
color: #FFFFFF;



/* BR */

position: absolute;
width: 17px;
height: 10px;
left: 53px;
top: 268px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

/* Branco */
color: #FFFFFF;



/* Ellipse 3 */

position: absolute;
width: 10px;
height: 10px;
left: 0px;
top: 268px;

/* Lima */
background: #54F394;


/* Ellipse 4 */

position: absolute;
width: 10px;
height: 10px;
left: 39px;
top: 268px;

/* Dourado */
background: #FFDF6F;


/* Inserir aqui o nome do gráfico completo de até duas linhas inserir aqui o nome do gráfico */

position: absolute;
width: 414px;
height: 40px;
left: 51px;
top: 179px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* ou 125% */
display: flex;
align-items: center;

/* Branco */
color: #FFFFFF;



/* Group 2080 */

position: absolute;
width: 414px;
height: 330px;
left: 51px;
top: 549px;



/* Frame 2080 */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 414px;
height: 274px;
left: 51px;
top: 605px;



/* Group 2077 */

width: 414px;
height: 254px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 2 */

position: absolute;
width: 347px;
height: 200.74px;
left: 35px;
top: 7.2px;



/* Vector 3 */

position: absolute;
width: 347px;
height: 200.74px;
left: 35px;
top: 7.2px;

transform: rotate(-180deg);


/* Frame 23 */

/* Layout automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 368px;
height: 19.12px;
left: 35px;
top: 234.88px;



/* JAN */

width: 20.61px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* FEB */

width: 19.13px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* MAR */

width: 22.08px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 2;
flex-grow: 0;


/* APR */

width: 22.08px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 3;
flex-grow: 0;


/* MAY */

width: 23.55px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 4;
flex-grow: 0;


/* JUN */

width: 20.61px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 5;
flex-grow: 0;


/* JUL */

width: 19.13px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 6;
flex-grow: 0;


/* AUG */

width: 23.55px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 7;
flex-grow: 0;


/* SEP */

width: 19.13px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 8;
flex-grow: 0;


/* OCT */

width: 22.08px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 9;
flex-grow: 0;


/* NOV */

width: 23.55px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 10;
flex-grow: 0;


/* DEC */

width: 20.61px;
height: 14px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 11;
flex-grow: 0;


/* Group 24 */

position: absolute;
width: 28px;
height: 218.72px;
left: 0px;
top: 0px;



/* 0 */

position: absolute;
width: 7px;
height: 18.68px;
left: 0px;
top: 200.04px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 1000 */

position: absolute;
width: 26px;
height: 18.68px;
left: 0px;
top: 150.03px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 2000 */

position: absolute;
width: 28px;
height: 18.68px;
left: 0px;
top: 100.02px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 3000 */

position: absolute;
width: 28px;
height: 18.68px;
left: 0px;
top: 50.01px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

color: #FFFFFF;



/* 4000 */

position: absolute;
width: 28px;
height: 18.68px;
left: 0px;
top: 0px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Vector 1 */

position: absolute;
width: 379px;
height: 218.49px;
left: 35px;
top: 0.37px;

opacity: 0.5;
border: 1.06686px solid #FFFFFF;


/* Group 2078 */

width: 70px;
height: 10px;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* SC */

position: absolute;
width: 17px;
height: 10px;
left: 14px;
top: 264px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

/* Branco */
color: #FFFFFF;



/* BR */

position: absolute;
width: 17px;
height: 10px;
left: 53px;
top: 264px;

/* L2. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* ou 160% */
display: flex;
align-items: center;

/* Branco */
color: #FFFFFF;



/* Ellipse 3 */

position: absolute;
width: 10px;
height: 10px;
left: 0px;
top: 264px;

/* Lima */
background: #54F394;


/* Ellipse 4 */

position: absolute;
width: 10px;
height: 10px;
left: 39px;
top: 264px;

/* Dourado */
background: #FFDF6F;


/* Inserir aqui o nome do gráfico completo de até duas linhas inserir aqui o nome do gráfico */

position: absolute;
width: 414px;
height: 40px;
left: 51px;
top: 549px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* ou 125% */
display: flex;
align-items: center;

/* Branco */
color: #FFFFFF;

