/* Ícones */

position: relative;
width: 471px;
height: 1058px;

background: #FFFFFF;
border-radius: 20px;


/* icon_arrow_outward */

position: absolute;
width: 24px;
height: 24px;
left: 217px;
top: 729px;



/* Vector */

position: absolute;
left: 23.17%;
right: 26.48%;
top: 21.88%;
bottom: 27.79%;

background: #000000;


/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 89px;
top: 786px;



/* Vector */

position: absolute;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* icon_download */

position: absolute;
width: 24px;
height: 24px;
left: 153px;
top: 786px;



/* Vector */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 18.75%;
bottom: 18.75%;

background: #000000;


/* award_star_24dp_000000_FILL0_wght300_GRAD0_opsz24 2 */

position: absolute;
width: 24px;
height: 24px;
left: 281px;
top: 786px;



/* Group 2054 */

position: absolute;
width: 16.46px;
height: 16.46px;
left: calc(50% - 16.46px/2 + 0.23px);
top: calc(50% - 16.46px/2 - 0.18px);



/* Vector */

position: absolute;
left: 16.67%;
right: 14.76%;
top: 14.98%;
bottom: 16.44%;

/* Lavanda */
background: #7876FD;


/* Vector */

position: absolute;
left: 37.5%;
right: 36.57%;
top: 36.49%;
bottom: 38.85%;

background: #F5F5F5;


/* $RPY27NY */

position: absolute;
width: 24px;
height: 25px;
left: 153px;
top: 957px;



/* Vector */

position: absolute;
left: 8.33%;
right: 10.1%;
top: 12%;
bottom: 13.7%;

background: #000000;


/* $RJQWFR3 */

position: absolute;
width: 24px;
height: 24px;
left: 89px;
top: 843px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 12.5%;

background: #000000;


/* $R2HT8OP */

position: absolute;
width: 24px;
height: 24px;
left: 153px;
top: 843px;



/* Vector */

position: absolute;
left: 12.5%;
right: 8.33%;
top: 12.5%;
bottom: 12.5%;

background: #000000;


/* $RSQAMZS */

position: absolute;
width: 24px;
height: 24px;
left: 281px;
top: 843px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

background: #000000;


/* $RF7NB6Z */

position: absolute;
width: 24px;
height: 24px;
left: 217px;
top: 843px;



/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 8.33%;

background: #000000;


/* $R7NBZBE */

position: absolute;
width: 23px;
height: 24px;
left: 89px;
top: 900px;



/* Vector */

position: absolute;
left: 8.7%;
right: 8.7%;
top: 12.19%;
bottom: 8.33%;

background: #000000;


/* $RPLVUWS */

position: absolute;
width: 24px;
height: 24px;
left: 281px;
top: 957px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 6.25%;
bottom: 4.17%;

background: #000000;


/* $R2WIKRF */

position: absolute;
width: 24px;
height: 24px;
left: 152px;
top: 900px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #000000;


/* $REEWFG2 */

position: absolute;
width: 24px;
height: 24px;
left: 217px;
top: 957px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #000000;


/* $RHGGWMO */

position: absolute;
width: 24px;
height: 24px;
left: 216px;
top: 900px;



/* Vector */

position: absolute;
left: 12.5%;
right: 8.28%;
top: 8.33%;
bottom: 8.33%;

background: #000000;


/* $R3L7PY3 */

position: absolute;
width: 24px;
height: 24px;
left: 280px;
top: 900px;



/* Vector */

position: absolute;
left: 15.99%;
right: 15.99%;
top: 11.46%;
bottom: 8.33%;

background: #000000;


/* $RPEECP9 */

position: absolute;
width: 24px;
height: 24px;
left: 345px;
top: 843px;



/* Vector */

position: absolute;
left: 7.69%;
right: 7.69%;
top: 19.23%;
bottom: 19.55%;

background: #000000;


/* $R5J0U60 */

position: absolute;
width: 24px;
height: 24px;
left: 89px;
top: 957px;



/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 16.77%;
bottom: 16.97%;

background: #000000;


/* $RUMCR6F */

position: absolute;
width: 24px;
height: 24px;
left: 345px;
top: 957px;



/* Vector */

position: absolute;
left: 8.33%;
right: 11.82%;
top: 8.33%;
bottom: 9.69%;

background: #000000;


/* $RHWD719 */

position: absolute;
width: 24px;
height: 24px;
left: 344px;
top: 900px;



/* Vector */

position: absolute;
left: 8.33%;
right: 5.94%;
top: 12.5%;
bottom: 14.27%;

background: #000000;


/* icon_close */

position: absolute;
width: 24px;
height: 24px;
left: 217px;
top: 786px;



/* Vector */

position: absolute;
left: 23.57%;
right: 23.57%;
top: 23.57%;
bottom: 23.57%;

background: #000000;


/* icon_arrow-right */

position: absolute;
width: 24px;
height: 24px;
left: 153px;
top: 729px;

transform: rotate(-180deg);


/* Vector */

position: absolute;
left: 22.92%;
right: 25%;
top: 25%;
bottom: 25%;

/* Texto */
border: 1.5px solid #2E303D;
transform: matrix(1, 0, 0, -1, 0, 0);


/* icon_dropdown */

position: absolute;
width: 24px;
height: 24px;
left: 89px;
top: 729px;

transform: rotate(-180deg);


/* $RSER72O */

position: absolute;
width: 8px;
height: 5px;
left: 8px;
top: 10px;



/* Vector */

position: absolute;
left: 2.86%;
right: 2.86%;
top: 5%;
bottom: 12.34%;

background: #000000;


/* icon_check */

position: absolute;
width: 24px;
height: 24px;
left: 281px;
top: 729px;



/* Vector */

position: absolute;
left: 17.76%;
right: 17.81%;
top: 26.56%;
bottom: 26.67%;

background: #000000;


/* Ícones */

position: absolute;
width: 162px;
height: 58px;
left: 77px;
top: 76px;

/* H1. Título */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
/* idêntico à altura da caixa ou 121% */

color: #131927;



/* menu_24dp_000000_FILL0_wght400_GRAD0_opsz24 1 */

position: absolute;
width: 24px;
height: 24px;
left: 342px;
top: 729px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 25%;
bottom: 25%;

background: #000000;


/* Exemplos de ícones Material Design */

position: absolute;
width: 339px;
height: 30px;
left: 77px;
top: 461px;

/* H4. Título */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* ou 27px */
display: flex;
align-items: center;
letter-spacing: -0.01em;
font-feature-settings: 'calt' off;

/* Texto */
color: #2E303D;



/* Exemplos de ícones emoji */

position: absolute;
width: 300px;
height: 26px;
left: 77px;
top: 153px;

/* H4. Título */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* ou 27px */
display: flex;
align-items: center;
letter-spacing: -0.01em;
font-feature-settings: 'calt' off;

/* Texto */
color: #2E303D;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 87px;
top: 276px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 🥖 */

position: absolute;
height: 22px;
left: 8.33%;
right: 8.33%;
top: calc(50% - 22px/2);

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 151px;
top: 276px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 🍊 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 215px;
top: 276px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 🪙 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 279px;
top: 276px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 📦 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 343px;
top: 276px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 🪪 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 87px;
top: 312px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 🔍 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 151px;
top: 312px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 🗓 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 215px;
top: 312px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 💻 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 279px;
top: 312px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 🚢 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 343px;
top: 312px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 🚘 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 87px;
top: 348px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 🍓 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 151px;
top: 348px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 🌱 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 215px;
top: 348px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 💼 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 279px;
top: 348px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 🪖 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 343px;
top: 348px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 🦺 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 87px;
top: 384px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 💡 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 151px;
top: 384px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* ⚙️ */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 215px;
top: 384px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 💵 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 279px;
top: 384px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 🧺 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* icon_attach_file */

position: absolute;
width: 24px;
height: 24px;
left: 343px;
top: 384px;



/* Vector */

position: absolute;
visibility: hidden;
left: 25.08%;
right: 26.36%;
top: 10.42%;
bottom: 10.42%;

background: #000000;


/* 📤 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 4.17%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19.0345px;
line-height: 23px;
/* idêntico à altura da caixa ou 121% */

color: #000000;



/* Pode-se utilizar qualquer emoji desde que respeite o padding interno entre a caixa de texto e a caixa delimitadora. */

position: absolute;
width: 329px;
height: 60px;
left: 77px;
top: 189px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* ou 143% */
display: flex;
align-items: center;

color: #131927;



/* Pode-se utilizar qualquer ícone do Google Material Design desde que respeite o padding interno entre a caixa de texto e a caixa delimitadora. */

position: absolute;
width: 329px;
height: 80px;
left: 77px;
top: 503px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* ou 143% */
display: flex;
align-items: center;

color: #131927;



/* Especificações: Weight: 300 Grade: 0 Optical Size: 32px (grande), 24px (médio) ou 16px (pequeno) Style: Material Symbols (new), Rounder */

position: absolute;
width: 339px;
height: 86px;
left: 77px;
top: 595px;

/* L1. Legenda */
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* ou 133% */
display: flex;
align-items: center;

color: #131927;

